.wrapper {
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.title {
    span {
        color: var(--text-color);
        font-family: Rubik;
        font-size: 30px;
        font-weight: 500;
        line-height: 30px;
        letter-spacing: -0.4079999924px;
    }
}

.collections {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.collection {
    flex: 1 1 200px;
    max-width: calc(50% - 10px);
    min-width: 130px;
    aspect-ratio: 1 / 1;

    border-radius: 10px;
    overflow: hidden;
    position: relative;

    .image-container {
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(to bottom,
                    rgba(0, 0, 0, 0.3) 0%,
                    rgba(0, 0, 0, 0.9) 100%);
            padding: 10px;
            box-sizing: border-box;
            opacity: 0;
            transition: all .3s linear;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 10px;
            align-items: center;
            pointer-events: none;

            .btn {
                width: 90%;
                padding: 5px 15px;
                background: rgb(250, 11, 51);
                border-radius: 5px;
                border: none;
                outline: none;
                display: none;
                place-items: center;
                cursor: pointer;
                pointer-events: none;
                opacity: 0;
                transition: opacity 0.3s linear 2s;

                span {
                    color: white;
                }
            }

            .text {
                color: white;
                font-size: 14px;
                font-weight: 600;
                text-align: center;
                text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
                display: none;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                overflow: hidden;

            }
        }



        &:active .overlay,
        &:hover .overlay {
            opacity: 1;

            .text {
                display: -webkit-box;
            }

            .btn {
                display: grid;
                pointer-events: all;
                opacity: 1;
            }
        }
    }


}