::ng-deep {

    /*    .p-virtualscroller-content{
         padding: 60px 22px 0;
    } */
    .p-virtualscroller {

       height: calc(100vh - 120px) !important;

        &::-webkit-scrollbar {
            width: 0;
            
        }
    }

    .p-virtualscroller-content {
        padding-bottom: 20px;
          -ms-overflow-style: none;
          scrollbar-width: none;
    }
}

.wrapper {
    width: 100%;
    min-height: 100px;

}

.panel {
    width: 100vw;
    height: 60px;
    display: flex;
    max-width: 576px;
    width: 100%;
    gap: 10px;
    align-items: center;
    position: fixed;
    background: var(--bg-color);
    z-index: 100;

    .header {
        width: fit-content;
        padding: 0 10px;

        span {
            font-size: 22px;
            font-weight: 800;
            color: var(--text-color);
        }
    }


    .container {
        width: calc(100% - 150px);
        flex: 1 1;
        overflow: hidden;

        .swiper {
            width: 100%;
            height: 100%;
            overflow: visible;
        }

        .slide {
            width: 30px;
            height: 30px;
            display: grid;
            place-items: center;
            cursor: pointer;
            font-weight: 500;
            border-radius: 5px;
            transition: all .3s linear;

            span {
                font-size: 18px;
                color: var(--text-color);
            }
        }

        .active {
            background: #871989;
            span{
                color: white;
            }
        }
    }
}

.z {
    width: 100%;
    position: relative;
    height: calc(100vh - 60px);
    overflow: hidden;
    overscroll-behavior: none;
}

.content {
    width: 100%;

    padding: 0 22px 0;
    display: flex;
    flex-direction: column;
    gap: 120px;
    position: relative;
    top: 60px;
    height: 100%;
    overflow: hidden;


}

.fragment {
    width: 100%;
    min-height: 100px;
    padding: 15px 0 0;
    display: flex;
    flex-direction: column;
    gap: 55px;
background: var(--bg-color);
   

    .details {
        width: 100%;
        min-height: 10px;
        display: flex;

        gap: 20px;

        img {
            width: 180px;
            border-radius: 5px;
        }

        .info {
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 10px;

            .name {
                width: 100%;
                font-weight: 700;
                font-size: 20px;
                display: flex;
                flex-direction: column;
                gap: 3px;
                color: var(--text-color);
            }

            .description {
                width: 100%;
                min-height: 10px;
                font-size: 16px;
                color: var(--text-secondary);
            }

            .item {
                display: flex;
                gap: 5px;
                color:  var(--text-secondary);

                span:first-child {
                    color: var(--text-color);
                }
            }
        }
    }

    .series {
        display: flex;
        flex-direction: column;
        gap: 30px;


        .episode {
            width: 100%;
            min-height: 100px;
            display: flex;
            gap: 8px;

            img {
                width: 180px;
                border-radius: 5px;
                object-fit: cover;
                height: 110px;
            }

            .stub {
                width: 180px;
                height: 110px;

                img {
                    height: 100%;
                }
            }

            .info {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 8px;

                .name {
                    font-size: 18px;
                    font-weight: 600;
                    font-family: Rubik;
                    color: var(--text-color);
                }







            }
        }
    }
}


@media screen and (max-width:490px) {
    .fragment {
        .details {
            .info {
                .item {
                    flex-direction: column;
                }
            }
        }
    }
}

@media screen and (max-width:450px) {
    .fragment {
        .details {
            flex-direction: column;
            align-items: center;

            .info {
                .name {
                    .name__span {
                        text-align: center;
                    }

                    .name_season {
                        font-size: 16px;
                    }
                }
            }
        }

        .series {
            .episode {
                flex-direction: column;

                img {
                    width: 100%;
                    height: auto;
                }
            }
        }
    }

}