.wrapper {
    width: 100%;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 22px;
}

.panel {
    display: flex;
    gap: 35px;

    .item {
        display: flex;
        justify-content: center;
    }

    .input {
        flex: 6 1;
        position: relative;

        input {
            width: 100%;
            height: 52px;
            border-radius: 26px;
            outline: none;
            border: 1px solid var(--border-color);
            padding: 0 5px 0 69px;
            font-family: Rubik;
            font-size: 18px;
            font-weight: 400;
            line-height: 21.33px;
            position: relative;
            background: white;
            color: #000000;

        }

        input::placeholder {
          color: #757575;
        }

    }

    .input::after {
        content: '';
        width: 24px;
        height: 24px;
        position: absolute;
        top: 14px;
        left: 29px;
        background-image: url('/img/search.svg');
        background-size: cover;

    }

    .fav {
        flex: 2 1;
        display: flex;
        gap: 5px;
        align-items: center;
        cursor: pointer;
        svg{
            fill: var(--text-color);
            stroke: var(--text-color);
        }
    }

    span {
        color: var(--text-color);
        font-family: Open Sans;
        font-weight: 700;
        font-size: 18px;
    }

    .icon__svg {
        width: 30px;
        height: 30px;
    }
}

.content {
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.loading {
    width: 100%;
    min-height: 10px;
    display: grid;
    place-items: center;
}

@media screen and (max-width: 365px) {
    .panel {
        gap: 10px;

        .fav {
            span {
                font-size: 15px;
            }

            .icon__svg {
                width: 25px;
                height: 25px;
            }
        }
    }
}