@if(isApi){
  <div class="wrapper" [ngClass]="{'padding': needPad}">
  <div class="header" [class.opacity]="headerOpacity">
    <div class="items">
      <a class="items__a" [routerLink]="['']" role="link">
      @if (currTheme == 'dark') {
          <img src="/img/LOGO.png" alt="Logo" class="logo">
      }@else {
         <img src="/img/LOGO_dark.png" alt="Logo" class="logo">
      }
      </a>

      <a class="link" [routerLink]="['/profile']">
        <img src="/img/profile.svg" alt="Profile link" width="24px">
      </a>
    </div>
  </div>
  <div class="content">
    <router-outlet />
  
  </div>

</div>
} @else {
  <app-sckeleton />
}