.wrapper {
    max-width: 576px;
    min-height: 100vh;
    margin: 0 auto;
    position: relative;

    background-color: var(--bg-color);
    background-image:
        url('/img/vectors/gift.png'),
        url('/img/vectors/gift.png'),
        url('/img/vectors/gift.png'),
        url('/img/vectors/gift.png'),

        url('/img/vectors/lolilup.png'),
        url('/img/vectors/lolilup.png'),
        url('/img/vectors/lolilup.png'),
        url('/img/vectors/lolilup.png'),

        url('/img/vectors/santa.png'),
        url('/img/vectors/santa.png'),
        url('/img/vectors/santa.png'),
        url('/img/vectors/santa.png'),

    ;

    background-repeat: no-repeat;
    background-size:
        35px auto, 45px auto, 30px auto, 40px auto,
        38px auto, 42px auto, 33px auto, 47px auto,
        32px auto, 48px auto, 36px auto, 44px auto;

    background-position:
        70% 18%, 87% 7%, 52% 96%, 28% 42%, 94% 58%, 17% 83%, 71% 35%, 41% 8%,
        78% 22%, 24% 61%, 63% 88%, 82% 67%, 9% 51%, 47% 29%, 92% 92%, 33% 72%,
        58% 14%, 97% 41%, 13% 76%, 56% 63%, 85% 53%, 37% 81%, 75% 97%, 21% 26%,
        89% 11%, 44% 47%, 26% 89%, 96% 82%, 6% 33%, 68% 58%, 35% 55%, 79% 38%;

}

.snowblock {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    pointer-events: none;
    width: 100%;
    height: 100%;
    background-image: url('/img/snow.png');
    animation: snow 40s linear infinite;
}

.padding {
    padding-top: 80px;
}

.content {
    width: 100%;
    min-height: 100vh;


    color: var(--color);
    padding-top: 60px;
}

.header {
    position: fixed;
    max-width: 576px;
    width: 100%;
    height: 60px;
    z-index: 100;

    .items {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .items__a {
            width: 60px;
            height: 60px;

            img {
                width: 100%;
                height: 100%;
            }
        }

        .link {
            width: 40px;
            height: 40px;
            display: grid;
            place-items: center;
            background: rgba(128, 128, 128, 0.445);
            border-radius: 50%;
            margin-right: 10px;
        }
    }

}

.opacity {
    background: var(--bg-color);
}


:host ::ng-deep {
    .p-togglebutton {
        background: #4C1C7D;
        border: none;
    }

    .p-togglebutton:not(:disabled):not(.p-togglebutton-checked):hover {
        background: #4C1C7D;
        border: none;
    }

    .p-togglebutton.p-togglebutton-checked {
        background: #4C1C7D;
        border: none;
    }

    .p-togglebutton-checked .p-togglebutton-content {
        background: #703DA5;
    }

    .p-togglebutton.p-togglebutton-checked {
        color: white;
    }
}

@keyframes snow {
    0% {
        background-position: 0px 0px, 0px 0px, 0px 0px;
    }

    100% {
        background-position: 1800px 2000px, 1600px 1600px, 1400px 1200px;
    }
}