.wrapper {
    max-width: 576px;
    min-height: 100vh;
    margin: 0 auto;
    position: relative;
      background: var(--bg-color);
}
.padding{
        padding-top: 80px;
}
.content {
    width: 100%;
    min-height: 100vh;

  
    color: var(--color);
    padding-top: 60px;
}

.header {
    position: fixed;
    max-width: 576px;
    width: 100%;
    height: 60px;
    z-index: 100;
    
    .items {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .items__a {
            width: 60px;
            height: 60px;

            img {
                width: 100%;
                height: 100%;
            }
        }

        .link {
            width: 40px;
            height: 40px;
            display: grid;
            place-items: center;
            background: rgba(128, 128, 128, 0.445);
            border-radius: 50%;
            margin-right: 10px;
        }
    }

}

.opacity{
    background: var(--bg-color);
}

