.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
    overflow: hidden;
    position: relative;
   

}


.box {
    width: 100%;
    aspect-ratio: 2 / 1;
    border-radius: 10px;
    background: url('/img/back1.jpg') no-repeat;
    position: relative;

    .line {
        background: #B3000C;
    }

    .line_1 {
        position: absolute;
        width: 100%;
        height: 50px;
        top: calc(70% - 50px);
        left: 0;
        padding-left: 90px;
        padding-right: 10px;
        display: grid;
        place-items: center;


    }

    .line_2 {
        position: absolute;
        width: 30px;
        height: 100%;
        left: 50px;
        top: 0;
    }

    .box_text {
        text-align: center;
        font-weight: bold;
        color: rgb(255, 255, 255);
    }
}

.movies {
    display: flex;
    flex-direction: column;
    gap: 150px;
}

.advent_day {
    width: 100%;
    display: flex;
    gap: 10px;
    position: relative;

    .movie {
        width: 100%;
        display: flex;
        flex-direction: column;
        position: relative;
        .congratulations{
            position: absolute;
    top: -40px;
    width: 100%;
    height: 30px;
    background: #ff0011d1;
    border-radius: 5px;
    display: grid;
    place-items: center;


            span{
                color: white;
            }
        }
        .title {
            font-family: Rubik;
            font-size: 20px;
            font-weight: 500;
            line-height: 22px;
            letter-spacing: -0.4079999924px;
            color: var(--text-color);
            white-space: nowrap;
            overflow: hidden;
            display: block;
            text-overflow: ellipsis;
            text-shadow: 0 0 4px rgb(0, 0, 0);
            position: relative;
            z-index: 4;
            width: 200px;
           
        }

        .poster {
            width: 200px;
            position: relative;
            height: 305px;
            .poster__img {
                width: 200px;
                border-radius: 10px;
                object-fit: cover;
                z-index: 4;
                position: relative;
            }
        }
        
        .poster__img {
            opacity: 0;
            transition: opacity 0.3s ease;
        }

        .poster__img.loaded {
            opacity: 1;
        }


        .poster::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 98%;
            border-radius: 13px;
            background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
            background-size: 200% 100%;
            animation: loading 1.5s infinite;
            z-index: 1;
        }

        .poster__img.loaded~.poster::before {
            display: none;
        }


        
        .block {
            display: flex;
            gap: 10px;

        }


        .road {
            position: absolute;
            width: 200px;
            height: 200px;


        }

        .road-1 {
            bottom: -114%;
            left: 0;
            width: 500px;
            height: 500px;
        }

        .road.road-2 {
            display: none;
        }

        .day {
            width: fit-content;
            display: grid;
            place-items: center;
            height: 100%;
    position: static;
    z-index: 2;
       

            span {
                color: var(--text-color, #ffffff);
                font-family: Ephesis;
                font-size: 150px;
                font-weight: 600;
                text-shadow: 0 0 10px rgb(0, 0, 0);
            }
        }

    }


    &:nth-child(even) {
        align-self: flex-end;

        .movie {
            .block {
                flex-direction: row-reverse;
            }
            .title{
                  align-self: flex-end;
            }
            .road-1 {
                display: none;
            }

            .road-2 {
                display: block;
                bottom: -100%;
                left: -160%;
                width: 500px;
                height: 500px;
            }

            .day {
                right: 0;
                left: -70%;
            }
        }
    }

    &:last-child {
        .road {
            display: none;
        }
    }


}




@media screen and (max-width:555px) {
    .advent_day {
        .movie {
            .road-1 {
                width: 400px;
                height: 400px;
            }
        }

        &:nth-child(even) {
            .movie {

                .road-2 {
                    width: 400px;
                    height: 400px;
                    bottom: -90%;
                    left: -135%;
                }
            }
        }
    }
}

@media screen and (max-width:510px) {
    .advent_day {

        .movie {
            .road-1 {
                width: 350px;

            }
        }


        &:nth-child(even) {
            .movie {

                .road-2 {
                    width: 350px;

                    left: -110%;
                }
            }
        }
    }
}




@media screen and (max-width:450px) {
    .advent_day {

        .movie {
            .road-1 {
                width: 300px;

            }
        }

        &:nth-child(even) {
            .movie {

                .road-2 {
                    width: 300px;

                    left: -72%;
                }
            }
        }
    }
}

@media screen and (max-width:445px) {
    .box {

        .box_text {
            font-size: 12px;
        }

    }


}
@media screen and (max-width:410px) {
   .advent_day{
    .movie{
        .day{
            span{
                font-size: 80px;
            }
        }
    }
   }


}

@media screen and (max-width:380px) {
    .advent_day {
        .movie {
            .road-1 {
                left: 35%;
                bottom: -100%;
            }
        }

        &:nth-child(even) {
            .movie {

                .road-2 {

                    left: -40%;
                }
            }
        }
    }
}