:host ::ng-deep{

   .p-dialog-title{
    color: var(--text-color);
   }

   .p-select-option.p-select-option-selected{
    background: var(--bg-color);
    color: var(--text-color);
   }

   .modal{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    .select{
        display: flex;
        flex-direction: column;
        gap: 5px;
        justify-content: center;
        
    }
    .container{
        width: 100%;
        height: 255px;
    }
    .panel{
        display: flex;
        width: 100%;
        justify-content: space-between;
        .item{
            width: 120px;
            height: 52px;
            display: grid;
            place-items: center;
            background: rgb(250, 11, 51);
            border-radius: 5px;
            transition: all .1s linear;
            span{
                color: white;
                font-weight: 400;
                font-size: 18px;
            }


            &:active{
                transform: scale(0.9, 0.9);
            }
        }
    }
   }
}

.wrapper {
    width: 100%;
    min-height: 100vh;
    position: relative;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;

    .genres {
        width: 100%;
        min-height: 100px;
        background: rgba(209, 10, 46, 1);
        border-radius: 25px 25px 0 0;
        padding: 40px 25px 15px;
        display: flex;
        flex-direction: column;
        gap: 15px;

        .title {
            display: flex;
            gap: 5px;

            span {
                font-family: Rubik;
                font-size: 30px;
                font-weight: 500;
                line-height: 22px;
                letter-spacing: -0.4079999924px;
                color: white;

            }
        }

        .content {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            gap: 10px;

            .item {
                width: fit-content;
                height: 38px;
                display: grid;
                place-items: center;
                background: white;
                border-radius: 50px;
                cursor: pointer;
                padding: 8px 22px;

                span {
                    font-family: Rubik;
                    font-size: 18px;
                    font-weight: 500;
                    line-height: 22px;
                    letter-spacing: -0.40799999237060547px;
                    color: rgba(70, 63, 63, 1);
                    text-decoration: none;
                }
            }
        }
    }
    .random{
    width: 100%;
    min-height: 10px;
    display: grid;
    place-items: center;
  
    .button{
        display: flex;
        flex-direction: column;
        width: 220px;
        aspect-ratio: 3 / 1;
        border-radius: 30px;
        background: rgb(250, 11, 51);
        justify-content: center;
        align-items: center;
        cursor: pointer;
        color: white;
        span:first-child{
            font-weight: bold;
                font-family: Rubik;
        }
        span:last-child{
            font-size: 10px;
        }
    }
}
}