@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Neucha&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Rubik+Spray+Paint&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');




* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Manrope;
}

:root {
    --text-color: white;
    --bg-color: rgba(34, 18, 51, 1);
    --text-secondary: rgb(207 207 207);
    --border-color: rgba(34, 18, 51, 1);
    --card-item-color: white;
    --card-item-text-color: #000125;
    --movie-poster-gradient: linear-gradient(0deg,
            rgba(34, 18, 51, 1) 0%,
            rgba(34, 18, 51, 0) 40%),
        linear-gradient(180deg,
            rgba(34, 18, 51, 1) 0%,
            rgba(34, 18, 51, 0) 40%);


    --tab-active-color: #ef017a;
    --tabLine-active-color: rgb(138, 0, 156);
    --tabLine-color: rgb(163, 87, 173);
}

[data-theme="light"] {
    --text-color: #000125;
    --bg-color: white;
    --card-item-color: rgba(34, 18, 51, 1);
    --card-item-text-color: white;
    --movie-poster-gradient: linear-gradient(0deg,
            rgb(255, 255, 255) 0%,
            rgba(255, 255, 255, 0) 40%),
        linear-gradient(180deg,
            rgb(255, 255, 255) 0%,
            rgba(255, 255, 255, 0) 40%);
 --text-secondary: black;
}

html {
    scroll-behavior: smooth;
}