.wrapper {
    width: 100%;
    min-height: 100vh;
    position: relative;
}

.poster {
    width: 100%;
    position: relative;

    .z {
        width: 100%;
        position: absolute;
        height: 100%;
        top: 0;
        left: 0;
        background: var(--movie-poster-gradient);
    }

    .poster__img {
        width: 100%;
        height: auto;
    }

    .logo {
        width: 100%;
        height: auto;
        position: absolute;
        bottom: 50px;
        display: flex;
        justify-content: center;
        align-items: center;

        .logo__img {
            width: 175px;
            height: auto;
        }

    }
}

.content {
    width: 100%;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .header {
        display: flex;
        flex-direction: column;
        gap: 20px;
        z-index: 2;
        position: relative;

        .details {
            display: flex;
            flex-direction: column;
            gap: 10px;
            align-items: center;
            padding: 0 10px;

            span {
                font-family: Rubik;
            }

            .name {
                font-size: 30px;
                color: var(--text-color);
                font-weight: bold;
                text-align: center;
            }

            .altname {
                color: var(--text-secondary);
                font-size: 18px;
            }
        }

        .panel {
            width: 100%;
            min-height: 75px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 15px;

            .panel_item {
                width: 125px;
                min-height: 55px;
                display: flex;
                flex-direction: column;
                gap: 2px;
                align-items: center;
                cursor: pointer;

                .panel_item_img {
                    width: 30px;
                    height: 30px;
                    color: var(--text-color);
                }

                .favourite__svg {
                    fill: transparent;
                    stroke: var(--text-color);
                    transition: all .3s linear;
                }

                .favourite__svg-fav {
                    fill: white;
                    stroke: white;
                }

                .panel_item_img-arrows {
                    transform: rotate(45deg);
                }

                .panel_item__span {
                    color: var(--text-color);
                    font-family: Open Sans;
                    font-weight: 700;
                    font-size: 13px;
                }
            }

            .panel_item-watch {
                width: 200px;
                min-height: 75px;
                background-color: #9510AC;
                border-radius: 15px;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                text-decoration: none;
                color: white;
                font-family: Open Sans;
                font-weight: 700;
                font-size: 30px;

            }
        }

        .rating_header {
            width: 50px;
            height: 30px;
            position: absolute;
            top: -50px;
            right: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 8px;
            color: white;
            span {
                font-size: 16px;
                font-family: Open Sans;
                font-weight: 800;

            }
        }


    }

    .description {
        width: 100%;
        min-height: 10px;
        background: #724F99;

        padding: 10px 25px;

        span {
            font-size: 14px;
            color: white;
            font-family: Rubik;
        }
    }

    .rating {
        width: 100%;
        min-height: 10px;
        padding: 10px 15px;
        display: flex;
        flex-direction: column;
        gap: 10px;

        span {
            color: var(--text-color);
            font-family: Open Sans;
            font-weight: 700;
            font-size: 30px;
        }

        .block {
            width: 100%;
            min-height: 120px;
            display: flex;
            gap: 20px;

            .item {
                flex: 1 1;
                background: #3f0749;
                border-radius: 8px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 10px;
                padding: 8px;

                .item__h2 {
                    color: white;
                    font-family: Open Sans;
                    font-weight: 600;
                    font-size: 30px;
                }

                .item__span {
                    color: white;
                    font-family: Open Sans;
                    font-weight: 600;
                    font-size: 13px;
                }

            }
        }
    }

    .persons {
        width: 100%;
        min-height: 40px;
        padding: 10px 0;
        display: flex;
        flex-direction: column;
        gap: 10px;

        span {
            display: block;
            color: var(--text-color);
            font-family: Open Sans;
            font-weight: 700;
            font-size: 30px;
            padding: 0px 15px;
        }

        .container {
            width: 100%;
            display: grid;
            overflow-x: auto;
            scroll-snap-type: x mandatory;
            grid-auto-flow: column;
            grid-auto-columns: 180px;
            grid-template-rows: repeat(2, 330px);
            gap: 10px;

            .person {
                flex-shrink: 0;
                scroll-snap-align: start;
                border-radius: 32px;
                display: flex;
                flex-direction: column;
                gap: 4px;
                padding-left: 10px;

                .person__span {
                    font-family: Rubik;
                    font-size: 18px;
                    color: var(--text-color);
                    width: 100%;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 2;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                .profession__span {
                    font-size: 14px;
                    color: var(--text-secondary);
                    font-weight: 400;
                }

                .person__img {
                    width: 100%;
                    height: 250px;
                    border-radius: 32px;
                }
            }
        }
    }

    .seasons {
        width: 100%;
        height: 60px;
        padding: 10px 15px;
        background: #3f0749;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;

        span {
            color: white;
            font-family: Open Sans;
            font-weight: 500;
            font-size: 20px;
        }

        img {
            width: 20px;
            height: 20px;
        }
    }

    .meta {
        width: 100%;
        min-height: 40px;
        display: flex;
        gap: 30px;
        padding: 10px 15px;

        .genres-nominations_item {
            flex: 1 1;
            display: flex;
            flex-direction: column;
            gap: 10px;

            .item__header {
                width: 100%;
                min-height: 20px;

                .item__header__span {
                    color: var(--text-color);
                    font-family: Open Sans;
                    font-weight: 700;
                    font-size: 30px;
                }
            }

            .item_container {
                width: 100%;
                min-height: 20px;
                display: flex;
                flex-direction: column;
                gap: 5px;
                padding: 0 5px;

                .item__container__span {
                    font-size: 15px;
                    font-family: Rubik;
                }

                .item_genre__span {
                    color: #757575;
                }
            }

            .item_container_nominations {
                display: flex;
                flex-wrap: wrap;
                gap: 10px;

                .nominations__div {
                    width: fit-content;
                    max-width: 250px;
                    height: 26px;
                    background: #00B127;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    border-radius: 50px;
                    padding: 4.5px 10px;
                }

                .nominations__span {
                    font-weight: bold;
                    white-space: nowrap;
                    color: white;

                }
            }
        }
    }
}


@media screen and (max-width:400px) {
    .rating {
        .block {
            flex-direction: column;
        }
    }
}

@media screen and (max-width:390px) {
    .content {
        .header {
            .panel {
                .panel_item {
                    width: 100px;
                }

                .panel_item-watch {
                    width: 150px;
                    min-height: 55px;
                    font-size: 22px;
                }
            }
        }
    }
}

@media screen and (max-width:425px) {
    .meta {
        flex-direction: column;
    }
}